<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
<div class="image-wrap">
  <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image">
  {% if page.image.credit %}<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>{% endif %}
</div><!-- /.image-wrap -->
{% else if page.image.webgl %}
  <div id="webgl">
    <script id="vertexShader" type="x-shader/x-vertex" src="{{ site.url }}/images/webgl/{{ page.image.webgl.vertex }}"></script>
    <script id="fragmentShader" type="x-shader/x-fragment" src="{{ site.url }}/images/webgl/{{ page.image.webgl.fragment }}"></script>
    <script src={{ site.url }}/images/webgl/shader_only.js></script>
  </div>
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>

  <div class=works>
    <h1>Softwares (some of them)</h1>
      {% for software in site.data.softwares %}
        <b><a href={{ software.link }}>{{ software.name }}</a></b> - {{ software.description }}<br><br>
      {% endfor %}

    <h1>Publications</h1>
      {% for article in site.data.articles %}
        <div class=article-citation>
          {% if article.link %}
            <a href={{ article.link }}>{{ article.authors }}. {{ article.title }}{% if article.publication %}, in <i>{{ article.publication }}</i>{% endif %} ({{ article.date }})</a><br><br>
          {% else %}
            {{ article.authors }}. {{ article.title }}, in <i>{{ article.publication }}</i> ({{ article.date }})<br>
          {% endif %}
        </div>
      {% endfor %}

    <h1>Projects</h1>
      {% for work in site.data.works %}
        <a href={{ work.link }} class="image-sequence">
          <img src="{{ site.url }}/images/{{ work.image }}" alt="{{ work.description }} feature image">
          {% if work.image-credit %}<span class="image-credit">Photo Credit: {{ work.image-credit }}</span>{% endif %}
          <div class="image-sequence-box">
          <p class="image-sequence-description">
            <font size=+1><b>{{ work.name }}</b></font> ({{ work.date }})<br>
            {{ work.description }}
          </p>
          </div>
        </a>
      {% endfor %}
  </div>
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}	        

</body>
</html>
